<h3>Import new content</h3>
    <mat-form-field appearance="outline">
      <mat-label>Names</mat-label>
      <mat-select [formControl]="import" required>
        <mat-option *ngFor="let imp of importNames" [value]="imp">{{imp}}</mat-option>
      </mat-select>
    </mat-form-field>

<div class="import" >
  <input type="file" id="input-file" size="50" class="form-control form-control-alternative"
         (change)="onSelectFile($event)" value="file.path"  [accept]="acceptType()" required=""/>
</div>

<div style="margin-top: 20px">
<button mat-raised-button color="primary" (click)="importContent()">Import content </button>
</div>
