<mat-selection-list multiple="false">
  <mat-list-option *ngFor="let patient of patients" (click)="navigateTo(patient.id)">
    <mat-icon mat-list-icon> account_box</mat-icon>
    <h3 mat-line> {{patient.name}}, {{patient.lastName}} </h3>
    <p mat-line> {{patient.cellphone}} </p>
    <p mat-line *ngIf="patient.meetings.length == 0 "> This patient has no meetings</p>
    <p mat-line *ngIf="patient.meetings.length > 0 "> Amount of meetings: {{ patient.meetings.length}}</p>
  </mat-list-option>
</mat-selection-list>

<a [routerLink]="['/add-patient']">
<button
  mat-fab
  color="primary"
  id="add-button"
  matTooltip="Add customer"
  class="add-button"

>
  <i class="material-icons" >add</i>
</button>
</a>

