<div *ngIf="content != undefined">
  <div class="mat-headline">
    <h1> {{content.name}}</h1>
    <div class="mat-subheading-1"> Duration:  {{content.duration}} </div>
    <div class="mat-subheading-1"> Creator name:  {{content.creatorName}} </div>
    <img src="{{content.urlImage}}" width="300" height="300" >
    <video src="{{content.urlArchive}}" width="300" height="300" >
    </video>
  </div>
  <mat-divider></mat-divider>

  <h2>Categories</h2>
  <mat-selection-list class="cl" *ngFor="let category of content.categories" multiple="false">
    <mat-list-option>
      <h3 matLine> {{category.name}}</h3>
    </mat-list-option>
  </mat-selection-list>
</div>
<div *ngIf="content == undefined">
  404 content not found
</div>
