<br>
<br>
<mat-label>Audios</mat-label>
<br>
<br>
<mat-form-field appearance="fill">
  <mat-label>Audios</mat-label>
  <mat-select (selectionChange)="playlistId=($event.value)">
    <mat-option *ngFor="let playlist of playlists" [value]=(playlist.id)>
      {{playlist.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="name">

  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Url image</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="urlImage">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="description">
  </mat-form-field>
</p>
<br>
<app-category></app-category>
<button mat-raised-button color="primary" (click)="updateplaylist(playlistId)">Update playlist</button>



