<div *ngIf="psychology != undefined">
  <div class="mat-headline">
    <h1> {{psychology.name}} {{ psychology.lastName }}</h1>
    <div class="mat-subheading-1" *ngIf="psychology.worksOnline"> Works Online! </div>
    <div class="mat-subheading-1" *ngIf="!psychology.worksOnline"> Works face-to-face! </div>
    <div class="mat-subheading-1" >
      <span *ngFor="let problem of psychology.problematics; let last=last">
        {{problem.name}} <ng-container *ngIf="!last">,</ng-container>
      </span>
    </div>

  </div>
  <mat-divider></mat-divider>
  <h2>Meetings</h2>
  <mat-selection-list class="cl" *ngFor="let meeting of psychology.meetings" multiple="false">
    <mat-list-option>
      <h3 matLine> {{meeting.patient.name}}</h3>
      <p matLine> {{meeting.dateTime | date:'short' }}</p>
    </mat-list-option>
  </mat-selection-list>
</div>
<div *ngIf="psychology == undefined">
  404 psychology not found
</div>
