.add-button{
  left: auto;
  bottom: 40px;
  right: 50px;
  position: fixed;
}

.mat-list-item {
  height: auto !important;
}

mat-grid-tile {
  background: #AEBDE9;
  padding-top: 310px !important;
}
