<mat-toolbar color="primary">
BetterCalm
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav
     class="md-sidenav-left"
     mode="side"
     opened="true">
    <mat-list>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/patients']"
          class="nav-link"
        >Patient</a>
      </mat-list-item>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/psychologits']"
          class="nav-link"
        >Psychologists</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Playlist</h3>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/playlists']"
          class="nav-link"
        > Playlist list </a>
      </mat-list-item>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/add-playlist']"
          class="nav-link"
        >Add Playlist</a>
      </mat-list-item>

      <h3 mat-subheader>Audio</h3>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/audios']"
          class="nav-link"
        > Audio list </a>
      </mat-list-item>
      <mat-list-item role="navigation">
        <a
          [routerLink]="['/add-audio']"
          class="nav-link"
        >Add Audio</a>
      </mat-list-item>
    </mat-list>
    <!--this is a place for us to add side-nav code-->
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


