<mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between start" >
    <mat-form-field appearance="outline">
      <mat-label>Search by author name</mat-label>
      <input matInput type="text" placeholder="author name" min="1" name="author name" [(ngModel)]="filter">
    </mat-form-field>
    <button mat-icon-button (click)="filtrar()">
      <mat-icon class="mat-24">search</mat-icon>
    </button>
  </div>
</mat-form-field>

<mat-selection-list multiple="false">
  <mat-grid-list cols=4 rowHeight="1.2:1" >
    <mat-grid-tile *ngFor="let content of contents" >
      <div>
    <mat-list-option (click)="navigateTo(content.id)">
      <strong> {{content.name}} </strong>
      <p mat-line> {{content.creatorName}} </p>
      <p mat-line *ngIf="content.urlImage!.length<1 || content.urlImage==null">
        <img src="{{url}}" width="200" height="200" alt="">
      </p>
      <p mat-line *ngIf="content.urlImage!.length > 0 ">
        <img src="{{content.urlImage}}" width="210" height="210" alt="">
      </p>
    </mat-list-option>
    <button mat-icon-button (click)="delete(content.id)">
      <mat-icon class="mat-24">delete</mat-icon>
    </button>
    <a [routerLink]="['/update-content/' + content.id]">
      <button mat-icon-button >
        <mat-icon class="mat-24">edit</mat-icon>
      </button>
    </a>
      </div></mat-grid-tile>
  </mat-grid-list>
</mat-selection-list>

<a [routerLink]="['/add-content']">
  <button
    mat-fab
    color="primary"
    id="add-button"
    matTooltip="Add customer"
    class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</a>
