<h3>Login</h3>
<form class="standardForm">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between start" >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="admin@admin.com" min="3" name="email" [(ngModel)]="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" min="3" name="password" [(ngModel)]="password" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</form>
