# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BetterCalm.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Choche\OneDrive\Escritorio\Semestre 6\Programacion de redes\Poittevin-169766--Cecilia-233552-\BetterCalm\.idea\.idea.BetterCalm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
